<h1 id="title">{{ title }}</h1>

<p><pre><code id="art">{{ text }}</code></pre></p>

<button onclick="startBrew();">Start brewing</button>
<button onclick="stopBrew();">Stop brewing</button>
<button onclick="refresh();">Update</button>

<script type="text/javascript">
var intervals = []

function refresh() {
    fetch(
        "", {
            method: "GET",
            headers: { "Accept": "text/html" }
    })
        .then(displayResponse)
}

function scheduleRefresh()
{
    intervals.push(setInterval(refresh, 1000))
}

function cancelRefresh()
{
    for (id of intervals)
    {
        clearTimeout(id)
    }

    intervals = []
}

function startBrew()
{
    fetch("", {
        method: "BREW",
        body:   "start",
        headers: { "Content-Type": "message/coffeepot", "Accept": "text/html" }
    })
        .then(displayResponse)
    scheduleRefresh();
}

function stopBrew()
{
    fetch("", {
        method: "BREW",
        body:   "stop",
        headers: { "Content-Type": "message/coffeepot", "Accept": "text/html" }
    })
        .then(displayResponse)
    cancelRefresh();
}

function displayResponse(response)
{
    if (response.ok)
    {
        if (response.status == 201)
        {
            cancelRefresh();
        }

        response.text()
            .then((text) => {
                var parsed = new DOMParser()
                    .parseFromString(text, "text/html");
                var idsToUpdate = [ "title", "art" ];

                for (id of idsToUpdate)
                {
                    var documentElem = document.getElementById(id);
                    var parsedElem = parsed.getElementById(id);

                    documentElem.innerHTML = parsedElem.innerHTML;
                }
            });
    }
    else
    {
        alert("API Error");
    }
}
</script>
