@font-face
{
    font-family: "Indie Flower";
    src: url(/static/font/IndieFlower-Regular.ttf) format("truetype");
}

@font-face
{
    font-family: "Patrick Hand";
    src: url(/static/font/PatrickHand-Regular.ttf) format("truetype");
}

@font-face
{
    font-family: "Kalam";
    src: url(/static/font/Kalam-Regular.ttf) format("truetype");
}

@font-face
{
    font-family: "Courier Prime";
    src: url(/static/font/CourierPrime-Regular.ttf) format("truetype");
}

@font-face
{
    font-family: "Courier Prime Bold";
    src: url(/static/font/CourierPrime-Bold.ttf) format("truetype");
}

@font-face
{
    font-family: "Courgette";
    src: url(/static/font/Courgette-Regular.ttf) format("truetype");
}

@font-face
{
    font-family: "Share Tech Mono";
    src: url(/static/font/ShareTechMono-Regular.ttf) format("truetype");
}
