<!DOCTYPE HTML>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>{{ title }}</title>
        <link href="/static/css/style.css" rel="stylesheet" />
        <link href="/static/css/fonts.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div id="page">
              <nav id="nav-button"><a href="/">Home</a></nav>
              <div id="content">
                  {{ body | safe }}
              </div>
        </div>
    </body>
</html>
