/* _/ ASIDES \_______________________________________________________________ */

aside
{
    width:            calc(var(--aside-size) - var(--aside-pad-x) * 2);
    min-height:       calc(var(--aside-size) - var(--aside-pad-y) * 2);
    padding-top:      var(--aside-pad-y);
    padding-bottom:   var(--aside-pad-y);
    padding-left:     var(--aside-pad-x);
    padding-right:    var(--aside-pad-x);
    margin:           16px;
    float:            right;

    font-size:        var(--footer-size);
    box-shadow:       var(--shadow);
    position: relative;
}

aside:nth-of-type(3n + 1)
{
    background-color: var(--aside-bg-col-1);
}

aside:nth-of-type(3n + 2)
{
    background-color: var(--aside-bg-col-2);
    float: left;
}

aside:nth-of-type(3n + 3)
{
    background-color: var(--aside-bg-col-3);
}

/* Add a red pin to the aside! */
aside:before
{
    content:       "";
    position:      absolute;
    top:           -3px;
    left:          calc(var(--aside-size) / 2 - var(--aside-pin-size));
    border-width:  var(--aside-pin-size);
    border-style:  solid;
    border-color:  #f00;
    outline:       1px solid #a00;
    box-shadow:    -2px 2px #f70000,
                   -3px 3px #f00000,
                   -4px 4px #e70000,
                   -5px 5px #e00000,
                   -6px 6px #d70000;
    border-radius: var(--aside-pin-size);
}

/* Add a folded corner to the aside! */
aside:after
{
    content:       "";
    position:      absolute;
    bottom:        0;
    right:         0;
    border-width:  16px 16px 0 0;
    border-style:  solid;
    border-radius: 5px 0 0 0;
    box-shadow:    0 6px var(--content-bg-col),
                   -3px 0 rgba(0, 0, 0, 0.1);
}

aside:nth-of-type(3n + 1):after
{
    border-color: var(--aside-corner-col-1) var(--content-bg-col);
}

aside:nth-of-type(3n + 2):after
{
    border-color: var(--aside-corner-col-2) var(--content-bg-col);
}

aside:nth-of-type(3n + 3):after
{
    border-color: var(--aside-corner-col-3) var(--content-bg-col);
}
