/* _/ CODE \_________________________________________________________________ */

pre code
{
    /* For some reason, line-height only works with vertical-align: bottom! */
    vertical-align: bottom;
    line-height:    var(--code-rule-height);
}

pre
{
    clear:            both;
    background-color: var(--code-bg-col);
    box-shadow:       var(--shadow);

    background: repeating-linear-gradient(
            transparent,
            transparent          calc(var(--code-rule-height) - 3px),
            var(--code-rule-col) var(--code-rule-height)
        ), repeating-linear-gradient(
            0.25turn,
            var(--code-bg-col),
            var(--code-bg-col)   calc(var(--code-rule-height) - 3px),
            var(--code-rule-col) var(--code-rule-height)
        );

    margin:           16px;
    padding:          var(--code-rule-height);
    overflow-x:       scroll;
}
