/* _/ GLOBAL CONFIG \________________________________________________________ */

:root
{
    --hl-col:    #08b;
    --ctrl-col:  #d34;
    --hover-col: #444;
    --code-col:  #666;

    --bg-col:               #fff;

    --navbar-bg-col:       #eaefe8;
    --navbar-rule-height:  8px;
    --navbar-rule-col:     #c5d8be;

    --content-bg-col:       #f5f3e4;
    --content-corner-col:   #ebe19b;
    --content-corner-size:  40px;
    --content-rule-height:  30px;
    --content-rule-col:     #dadded;

    --code-bg-col:          #fff;
    --code-rule-col:        #f0f3ff;
    --code-rule-height:     22px;

    --aside-bg-col-1:       #fcc;
    --aside-bg-col-2:       #cfd;
    --aside-bg-col-3:       #ffc;
    --aside-corner-col-1:   #e88;
    --aside-corner-col-2:   #8ea;
    --aside-corner-col-3:   #ee8;
    --aside-pad-x:          12px;
    --aside-pad-y:          24px;
    --aside-size:           180px;
    --aside-pin-size:       7px;

    --font-size:            16px;
    --min-width:            450px;

    --content-font:         "Courier Prime";
    --header-font:          "Kalam";
    --italic-font:          "Courgette";
    --bold-font:            "Courier Prime Bold";
    --code-font:            "Share Tech Mono";

    --paragraph-margin:     12px;

    --h1-size:              32px;
    --h2-size:              28px;
    --h3-size:              24px;
    --h4-size:              20px;
    --h5-size:              18px;
    --h6-size:              16px;

    --footer-size:          14px;

    --photo-bg:             #fff;
    --photo-width:          350px;
    --photo-margin:         8px;
    --photo-caption-margin: 16px;

    --shadow:              -3px 6px rgba(0, 0, 0, 0.1),
                           -1px 2px rgba(0, 0, 0, 0.2);
}
