/* _/ FIGURES \______________________________________________________________ */

figure img
{
    width:         var(--photo-width);
    border-top:    solid 1px rgba(255, 0, 0,   0.4);
    border-left:   solid 1px rgba(255, 0, 0,   0.4);
    border-bottom: solid 1px rgba(0,   0, 255, 0.4);
    border-right:  solid 1px rgba(0,   0, 255, 0.4);
    box-shadow:    -1px 1px rgba(0, 0, 0, 0.4);
    margin:        var(--photo-margin);
}

figure
{
    clear:            both;
    background-color: var(--photo-bg);
    width:            fit-content;
    margin:           8px;
    display:          inline-block;
    box-shadow:       var(--shadow);
    vertical-align:   top;
}

figure figcaption
{
    font-family:    var(--italic-font), Sans-Serif;
    margin:         var(--photo-caption-margin);
    margin-top:     0px;
    width:          calc(var(--photo-width) - 2*var(--photo-caption-margin) + 2*var(--photo-margin));
}
