/* _/ FONTS AND TEXT COLOURS \_______________________________________________ */

body
{
    /* Set default font family for all text */
    font-size:   var(--font-size);
    font-family: var(--content-font), Monospace;
    margin: 0;
    line-height: 1.3;
    color:       #000;

    /* Background colour */
    background-color: var(--bg-col);
}

h1, h2, h3, h4, h5, h6
{
    /* Use a different font and colour for headers */
    color:       var(--hl-col);
    font-family: var(--header-font), Sans-Serif;
    font-style:  unset;
    font-weight: normal;
}

h1 { font-size: var(--h1-size) }
h2 { font-size: var(--h2-size) }
h3 { font-size: var(--h3-size) }
h4 { font-size: var(--h4-size) }
h5 { font-size: var(--h5-size) }
h6 { font-size: var(--h6-size) }

i, em
{
    font-family: var(--italic-font), Sans-Serif;
    font-style:  unset;
}

b
{
    font-family: var(--bold-font), Monospace;
    font-style:  unset;
}

code
{
    font-family: var(--code-font), Monospace;
    font-style:  unset;
    color:       var(--code-col);
}

a > code
{
    color: inherit;
}

/* Display links */
a         { text-decoration: none;   }
a:link    { color: var(--ctrl-col);  }
a:visited { color: var(--ctrl-col);  }
a:hover   { color: var(--hover-col); }
a:active  { color: var(--ctrl-col);  }

/* Use different bullet points */
ul { list-style: circle; }

footer
{
    font-size: var(--footer-size);
    font-family: var(--italic-font), Sans-Serif;
}

aside
{
    font-family: var(--italic-font), Sans-Serif;
}

nav
{
    font-family: var(--italic-font), Sans-Serif;
}

nav a:link    { color: var(--hl-col);  }
nav a:visited { color: var(--hl-col);  }
nav a:hover   { color: var(--hover-col); }
nav a:active  { color: var(--hl-col);  }
