/* _/ NAV BUTTON \___________________________________________________________ */

#page
{
    position: relative;
}

/* Display the nav button as a folded corner of the page. */
#nav-button
{
    width:         0px;
    height:        0px;
    position:      absolute;
    top:           0;
    right:         0;
    border-width:  0 var(--content-corner-size) var(--content-corner-size) 0;
    border-style:  solid;
    border-color:  var(--content-corner-col) var(--bg-col);
    box-shadow:    var(--shadow);
    border-radius: 0 0 0 5px;
}

/* Display the clickable part of the nav button diagonally centered in the *
 * corner fold.                                                            */
#nav-button a
{
    display:   block;
    position:  absolute;

    /* Position the top left corner of the link in the precise center of the *
     * corner fold.                                                          */
    left:      calc(var(--content-corner-size) / 2);
    top:       calc(var(--content-corner-size) / 2);

    /* 1. Translate the link so that the center of the link is in the precise *
     *    center of the corner fold.                                          *
     * 2. Rotate the link so it aligns with the edge of the corner.           *
     * 3. Move the link diagonally so it sits outside the corner fold.        */
    transform: translate(-50%, -50%) rotate(45deg) translate(0%, -50%);
}
