/* _/ PAGE LAYOUT \__________________________________________________________ */

#page
{
    /* Center the page, and add some white space on top. Try to fill 60% of   *
     * the page, but have at least enough space to display the minimum width. */
    margin:      auto;
    margin-top:  32px;
    width:       max(60%, calc(var(--min-width) + 24px));

    box-shadow: var(--shadow);
}

#content
{
    /* Pad at the top and bottom of the content to align it well. */
    padding-top: calc(var(--content-corner-size) - var(--paragraph-margin));
    padding-bottom: 128px;

    /* Center the content, and expand the margins to the corner size if *
     * possible, otherwise ensure we have the minimum width.            */
    margin: auto;
    width:  max(calc(100% - 2 * var(--content-corner-size)), var(--min-width));

    /* Ensure stub content doesn't look weird */
    min-height:  var(--min-width);
}
