/* _/ PARAGRAPH LAYOUT \_____________________________________________________ */

h1 { margin-top: var(--paragraph-margin); }
h2 { margin-top: var(--h2-size); }
h3 { margin-top: var(--h3-size); }
h4 { margin-top: var(--h4-size); }
h5 { margin-top: var(--h5-size); }
h6 { margin-top: var(--h6-size); }

h1, h2, h3, h4, h5, h6
{
    margin-bottom: var(--paragraph-margin)
}

div, p, ul, ol
{
    margin-top: var(--paragraph-margin);
    margin-bottom: var(--paragraph-margin);
}
