/* _/ TABLE LAYOUT \_________________________________________________________ */

table
{
    /* Align cell content to top-left */
    text-align:      left;
    vertical-align:  top;
    border-collapse: collapse;
    border-bottom:   1px solid #000;
    border-top:      1px solid #000;
}

tr, td, th
{
    /* Dotted black lines between rows */
    border-collapse: collapse;
    border-bottom:   1px dashed #000;
    border-top:      1px dashed #000;
}

td, th
{
    /* Padding on all cells */
    padding: 5px;
}

table
{
    /* Center table and expand on small screens */
    margin-left:  auto;
    margin-right: auto;
    width:        max(80%, calc(var(--min-width)));
}
